@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  background-color: rgb(62, 60, 60);
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
}
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.homeTitle {
  font-size: 48px;
  font-weight: bold;
  color: #ecf0f1;
  margin-bottom: 20px;
}

.homeDescription {
  font-size: 24px;
  color: #bdc3c7;
  margin-bottom: 30px;
  text-align: center;
}
