.cardContainer {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cardContainer:hover {
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5);
  transform: translateY(0);
}

.cardImage {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.cardTitle {
  height: 10%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.wallpapersListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cardButtonRight {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.cardButtonLeft {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.cardButtonRight:hover,
.cardButtonLeft:hover {
  background-color: #0056b3;
}

.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
